name: Deploy 3-Tier App

on:
  workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # 1. Build Frontend
      - name: Build Frontend
        working-directory: ./frontend
        run: |
          ifconfig
      #   env:
      #     # ENSURE THIS IS YOUR CURRENT ALB DNS
      #     VITE_API_BASE_URL: "http://app-alb-1575493649.us-east-1.elb.amazonaws.com/api"

      # # 2. Sync to S3
      # - name: Deploy to S3
      #   uses: jakejarvis/s3-sync-action@master
      #   with:
      #     args: --delete
      #   env:
      #     AWS_S3_BUCKET: "yashraj-3tier-frontend"
      #     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      #     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      #     AWS_REGION: 'us-east-1'
      #     SOURCE_DIR: 'frontend/dist'

      # STEP 3 REMOVED: Your Private EC2 Cron job now handles the Backend!
