name: Deploy 3-Tier App

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # 1. Build Frontend
      - name: Build Frontend
        working-directory: ./frontend
        run: |
          npm install
          npm run build
        env:
          VITE_API_BASE_URL: "http://app-alb-1940618475.us-east-1.elb.amazonaws.com/api"

      # 2. Sync to S3
      - name: Deploy to S3
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --delete
        env:
          AWS_S3_BUCKET: "yashraj-3tier-frontend"
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: 'us-east-1'
          SOURCE_DIR: 'frontend/dist'

      # 3. Update Private Backend via SSH
      - name: Deploy Backend
        uses: appleboy/ssh-action@master
        with:
          host: 44.197.216.188 # Use Bastion IP or Public IP if still available
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/Task-5-Three-tier-application-deployment/nodejs-express-mysql
            git pull origin main
            npm install
            pm2 restart backend-api
